@import "tailwindcss";

:root {
    --background: #11071f;
    --foreground: #ffffff;
    --header:#1A0B2E;
    --card:#2C1250;
    --primary:#7127BA;
    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --font-jakarta-sans: var(--font-jakarta-sans);
  --font-preahvihear-sans: var(--font-preahvihear-sans);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
